services:
    nginx:
        image: nginx:1.29.4-alpine
        restart: always
        depends_on:
            - app
        ports:
            - "${APP_PORT:-127.0.0.1:8000}:80"
        volumes:
            - ./../:/var/www/html/:ro
            - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

    app:
        build:
            context: ./../
            dockerfile: Dockerfile
        restart: always
        user: "${UID:?not set}:${GID:?not set}"
        depends_on:
            - db
        volumes:
            - ./../:/var/www/html
            #- ./php.ini:/usr/local/etc/php/php.ini:ro
        tmpfs:
            - /.composer:mode=1777
            - /.config:mode=1777
        environment:
            DATABASE_URL: pgsql://${DB_USER:?}:${DB_PASSWORD:?}@db:5432/${DB_DATABASE:?}?serverVersion=16&charset=utf8

    db:
        image: postgres:16.11-alpine
        environment:
            POSTGRES_DB: ${DB_DATABASE:?}
            # You should definitely change the password in production
            POSTGRES_PASSWORD: ${DB_PASSWORD:?}
            POSTGRES_USER: ${DB_USER:?}
        healthcheck:
            test: [ "CMD", "pg_isready", "-d", "${DB_DATABASE:?}", "-U", "${DB_USER:?}" ]
            timeout: 5s
            retries: 5
            start_period: 60s
        volumes:
            - ./db:/var/lib/postgresql/data:rw

    adminer:
        image: michalhosna/adminer:4.8.0-en_v1
        restart: always
        ports:
            - "${ADMINER_PORT:-127.0.0.1:8001}:8080"
        environment:
            ADMINER_DRIVER: pgsql
            ADMINER_SERVER: db
            ADMINER_DB: ${DB_DATABASE:?}
            ADMINER_USERNAME: ${DB_USER:?}
            ADMINER_PASSWORD: ${DB_PASSWORD:?}
            ADMINER_AUTOLOGIN: 1
        depends_on:
            - db
